<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Servlet for communication relating to deal data -->
  <servlet>
    <servlet-name>dealServlet</servlet-name>
    <servlet-class>me.deal.server.DealServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dealServlet</servlet-name>
    <url-pattern>/dealme/deal</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>directionsServlet</servlet-name>
    <servlet-class>me.deal.server.DirectionsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>directionsServlet</servlet-name>
    <url-pattern>/dealme/directions</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>geocodingServlet</servlet-name>
    <servlet-class>me.deal.server.GeocodingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>geocodingServlet</servlet-name>
    <url-pattern>/dealme/geocoding</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet for communication relating to getting location data -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
